<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988254097528-kom1vobqon2hck348v94m1lup3ea4agf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988254097528-kom1vobqon2hck348v94m1lup3ea4agf</string>
	<key>API_KEY</key>
	<string>AIzaSyBFaraTHH4y_I3KO5m5qAdHgO0Qkw3UdWA</string>
	<key>GCM_SENDER_ID</key>
	<string>988254097528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoAppV2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-app-v2-751f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-v2-751f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988254097528:ios:b1ebf41a0b5b58adaf9d8d</string>
</dict>
</plist>